body .container {
  width: 75%;
}

header {
  background: linear-gradient(rgba(22, 20, 20, 0.7), rgba(56, 51, 51, 0.789)), url("../../public/images/banner1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

header nav {
  border-bottom: 2px solid #ffffff;
  border-top: 2px solid #ffffff;
}

header nav a {
  color: #ffffff;
}

header nav a:hover {
  color: #776e6e;
}
