.sectionun
    background-image: url("../../public/images/main_bg.jpg")
    .container
        background-color: #ffffff
        position: relative
// images de coin
.top_left
    position: absolute
    top: 0px
    left: 0px
.top_right
    position: absolute
    top: 0px
    right: 0px
.bottom_left
    position: absolute
    bottom: 0px
    left: 0px
.bottom_right
    position: absolute
    bottom: 0px
    right: 0px
        