.sectiontrois
    background-image: url("../../public/images/main_bg.jpg")
.blog_img
    position: relative
    margin: 50px
    img
        border-radius: 20px
        border: solid $colorgris 5px

    .like
        width: 90%
        background-color: $colorred
        color: #ffffff
        border-radius: 25px
        position: absolute
        bottom: -30px
        padding: 20px
        left: 20px
        span
            font-weight: lighter
            span 
                font-weight: bold

.bloc-texte
    left: 70px
    position: absolute
// .bloc-texte2
//     left: 20px
//     position: absolute
.espace
    width: 10%
    height: 150px

// media queries
// Small screen
@media screen and (min-width: 320px) and (max-width: 599px)
    .blog_img
        margin: 50px

        .like
            height: 60%
            width: 90%
            display: flex
            flex-wrap: wrap
    .bloc-texte
        // margin: 20px
        padding-bottom: 60px
        margin-bottom: 50px
    .article2
        padding-top: 120px


