.sectionquatres
    background-image: url("../../public/images/testimonials_background.jpg")
    
    .temoin
        .img_temoin
            img
                border: solid 5px #ffffff
                border-radius: 50%
        .texte_temoin
            border: solid 2px #ffffff
            border-radius: 25%
            span
                color: $colorred

// media queries: mettre un flex-wrap pour que les deux viennent les un en dessous des autres. 
            
    